.logoSizer{
 width: 70%;
}
.logoHome{
 width: 60%;
}
.logoSizer1{
 width: 30%;
}
.logoMoblie{
 width: 50%;
}
.productSize{
width: 50%;
}
 
.navBlue{
    background-color: #04009A;
    color: #ffff;
}

.textWhite{
    color: #ffff;
}

.textBlue{
    color: #0002A1;
}

.btnColor{
    color: #ffff;
}
.btnColor:hover{
    color: #E14D2A;
}

.categories-images{
    width: 60%;
}

.locationBTN{
    --fc-btn-color: #ffffff;
    --fc-btn-border-color: #ffffff;
    --fc-btn-hover-color: #000;
    --fc-btn-hover-bg: #ffffff;
    --fc-btn-hover-border-color: #ffffff;
    --fc-btn-focus-shadow-rgb: 193, 199, 198;
    --fc-btn-active-color: #000;
    --fc-btn-active-bg: #ffffff;
    --fc-btn-active-border-color: #ffffff;
    --fc-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --fc-btn-disabled-color: #ffffff;
    --fc-btn-disabled-bg: transparent;
    --fc-btn-disabled-border-color: #ffffff;
    --fc-gradient: none;
}

.moblieSearch{
    display: hidden;
}

.nav-container,
.nav-container-fluid,
.nav-container-lg,
.nav-container-md,
.nav-container-sm,
.nav-container-xl,
.nav-container-xxl {
  --fc-gutter-x: 1.5rem;
  --fc-gutter-y: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(var(--fc-gutter-x) * 0.3);
  padding-right: calc(var(--fc-gutter-x) * 0.3);
  width: 100%;
}
@media (min-width: 576px) {
  .nav-container,
  .nav-container-sm {
    max-width: 690px;
  }
}
@media (min-width: 768px) {
  .nav-container,
  .nav-container-md,
  .nav-container-sm {
    max-width: 900px;
  }
}
@media (min-width: 992px) {
  .nav-container,
  .nav-container-lg,
  .nav-container-md,
  .nav-container-sm {
    max-width: 1092px;
  }
}
@media (min-width: 1200px) {
  .nav-container,
  .nav-container-lg,
  .nav-container-md,
  .nav-container-sm,
  .nav-container-xl {
    max-width: 1300px;
  }
}
@media (min-width: 1400px) {
  .nav-container,
  .nav-container-lg,
  .nav-container-md,
  .nav-container-sm,
  .nav-container-xl,
  .nav-container-xxl {
    max-width: 1500px;
  }
}