.logoSizer{
 width: 80%;
}

.logoMoblie{
 width:50%;
}
 
.navBlue{
    background-color: #0002A1;
    color: #ffff;
}

.textWhite{
    color: #ffff;
}

.locationBTN{
    --fc-btn-color: #ffffff;
    --fc-btn-border-color: #ffffff;
    --fc-btn-hover-color: #000;
    --fc-btn-hover-bg: #ffffff;
    --fc-btn-hover-border-color: #ffffff;
    --fc-btn-focus-shadow-rgb: 193, 199, 198;
    --fc-btn-active-color: #000;
    --fc-btn-active-bg: #ffffff;
    --fc-btn-active-border-color: #ffffff;
    --fc-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --fc-btn-disabled-color: #ffffff;
    --fc-btn-disabled-bg: transparent;
    --fc-btn-disabled-border-color: #ffffff;
    --fc-gradient: none;
}

.moblieSearch{
    display: hidden;
}